<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>Лабораторная работа 8</display-name>
    <welcome-file-list>
        <welcome-file>login.do</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>ChatServlet</display-name>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>bsu.rfe.java.group7.lab8.kaydalina.var7A.servlet.ChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>bsu.rfe.java.group7.lab8.kaydalina.var7A.servlet.LoginServlet</servlet-class>
        <init-param>
            <description></description>
            <param-name>SESSION_TIMEOUT</param-name>
            <param-value>3600</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>bsu.rfe.java.group7.lab8.kaydalina.var7A.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>MessageListServlet</display-name>
        <servlet-name>MessageListServlet</servlet-name>
        <servlet-class>bsu.rfe.java.group7.lab8.kaydalina.var7A.servlet.MessageListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageListServlet</servlet-name>
        <url-pattern>/messages.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>NewMessageServlet</display-name>
        <servlet-name>NewMessageServlet</servlet-name>
        <servlet-class>bsu.rfe.java.group7.lab8.kaydalina.var7A.servlet.NewMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewMessageServlet</servlet-name>
        <url-pattern>/send_message.do</url-pattern>
    </servlet-mapping>
</web-app>